
.MediaWrapper-sc-1yk7mm5-0.heQPpC.card-media-wrapper.rc-card-media {

    background-color: red; 
    /* Altre proprietà... */
  }
  
  .ImageWrapper-sc-1yk7mm5-8.jYkuiQ {

    border: 2px solid red; 
  }

  .CardImage-sc-1yk7mm5-1.iNlFwt {
    border-radius: 10px;
  }
  